.skillText{
    text-align: justify;
}

.skillDevelop{
    min-height: 60vh;
    background-repeat: no-repeat;
        background-size: cover;
        background-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0.1),
          rgba(255, 255, 255, 0.1)
        ),
        url("background.jpg");
}

@media (max-width: 767px) {
    .skillTitle,.skillCTA{
        text-align: center;
    }
}