
.landing{
    height: 100vh;
 
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("landingbg-min.jpg");
}

.hero{
    height: 100vh;
}

.landingParagraph{
    text-align: justify;
}

.titleHighlight{
    color: #DFB220;
}
.paragraphHighlight{
    color:#20DFB2
}


@media (max-width: 767px) {
    .mobile{
       align-items: center;
        padding-top: 10%;
        text-align: center;
        justify-content: center;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 5%;
        margin-right: 5%;
    }
    .hero{
        height:90vh ;
        
    }
    .title{
        padding-bottom: 10%;
    }
    .ctaButton{
        padding-top: 10%;
    }
    .landing{
        height: 100vh;
     
        background-repeat: no-repeat;
        background-size: cover;
        background-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0.4)
        ),
        url("backgroundmobile.jpg");
    }

}